body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica,
  sans-serif;
}
.navbar-brand {
  a {
    color: #125688;
  }
}
.navbar-default {
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}
.navbar-container {
  width: 640px;
  margin: 0auto;
}
.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  background-color: #edeeee;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
}
.post-head {
  height: 64px;
  padding: 14px 20px;
  color: #125688;
  font-size: 15px;
  line-height: 18px;
  .thumbnail {
  }
  .name {
    display: block;
  }
}
.image {
  border-bottom: 1px solid #eeefef;
  border-top: 1px solid #eeefef;
}
.caption {
  padding: 30px 24px;
  font-size: 15px;
  line-height: 20px;
}

.form-wrapper {
  width: 40%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

label {
  margin-bottom: 20px;
}